<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <httpHandlers>
      <add verb="*" path="masked-wallet" type="InstantBuySample.MaskedHandler" />
      <add verb="*" path="full-wallet" type="InstantBuySample.FullHandler" />
      <add verb="*" path="notify-transaction-status" type="InstantBuySample.NotifyHandler" />
    </httpHandlers>
    <compilation>
      <assemblies />
    </compilation>
  </system.web>
  <appSettings>
    <add key="origin" value="com.google.gms.samples.wallet" />
    <add key="merchant-name" value="Xyz Inc" />
    <add key="sandbox-merchant-id" value="15900245939975655206" />
    <add key="sandbox-merchant-secret" value="Uc8I7uYRU-5Lx_-HlxGIpg" />
    <add key="production-merchant-id" value="Production Id" />
    <add key="produciton-merchant-secret" value="Production Secret" />
    <add key="oauth-client-id" value="435494549563.apps.googleusercontent.com" />
    <add key="fingerprint" value="EC:4A:EE:DC:F4:02:EA:87:0A:C5:09:C0:58:06:91:E7:EA:41:09:9D" />
    <add key="environment" value="SANDBOX" />
  </appSettings>
</configuration>