<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <httpHandlers>
      <add verb="*" path="masked-wallet" type="InstantBuySample.MaskedHandler" />
      <add verb="*" path="full-wallet" type="InstantBuySample.FullHandler" />
      <add verb="*" path="notify-transaction-status" type="InstantBuySample.NotifyHandler" />
    </httpHandlers>
    <compilation>
      <assemblies />
    </compilation>
  </system.web>
  <appSettings>
    <add key="origin" value="com.google.android.gms.samples.wallet" />
    <add key="merchant-name" value="Xyz Inc" />
    <add key="sandbox-merchant-id" value="15900245939975655206" />
    <add key="sandbox-merchant-secret" value="Uc8I7uYRU-5Lx_-HlxGIpg" />
    <add key="production-merchant-id" value="Production Id" />
    <add key="produciton-merchant-secret" value="Production Secret" />
    <add key="oauth-client-id" value="765560632621-l3sif6vo3fpup165vdt5banj89delq3h.apps.googleusercontent.com" />
    <add key="fingerprint" value="3E:F3:AA:33:49:FB:59:AB:81:3B:DA:6D:A1:99:15:EA:E4:00:00:F5" />
    <add key="environment" value="SANDBOX" />
  </appSettings>
</configuration>