<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <httpHandlers>
      <add verb="*" path="masked-wallet" type="InstantBuySample.MaskedHandler" />
      <add verb="*" path="full-wallet" type="InstantBuySample.FullHandler" />
      <add verb="*" path="notify-transaction-status" type="InstantBuySample.NotifyHandler" />
    </httpHandlers>
    <compilation>
      <assemblies />
    </compilation>
  </system.web>
  <appSettings>
    <add key="merchant-name" value="Xyz Inc" />
    <add key="sandbox-merchant-id" value="Sandbox Id" />
    <add key="sandbox-merchant-secret" value="Sandbox Secret" />
    <add key="production-merchant-id" value="Production Id" />
    <add key="produciton-merchant-secret" value="Production Secret" />
    <add key="oauth-client-id" value="OAuth Client Id" />
    <add key="environment" value="SANDBOX" />
  </appSettings>
</configuration>